/* ----------GLOBAL VARIABLES------------ */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: 0;
  background: #18191A;
  color: #FFE48D;
  letter-spacing: 5px;
}

h1 {
  padding-top: 50px;
}

h1, h2{
  display: flex;
  justify-content: space-around;
}

/* ----------SQUARE SECTION------------ */

.all-game-squares {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  height: 100px;
  width: 100px;
  border: 1px solid #ffffff;
  background-color: #18191A;
  align-items: center;
}

.top {
  border-top: none;
}

.bot {
  border-bottom: none;
}

.top, .mid, .bot {
  border-left: none;
}

.right {
  border-right: none;
}

/* ----------BUTTON SECTION------------ */

.button {
  display: grid;
  align-content: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
